In [1]:
# import all relevant packages
import pandas as pd

# Read required files
title_akas=pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz',delimiter='\t',usecols=[0,1,2,3,4,7],na_values='\\N',dtype={'isOriginalTitle':str})
title_basics=pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz',delimiter='\t',usecols=[0,1,2,3,5,7,8],na_values='\\N',dtype={'startYear':str, 'runtimeMinutes':str})

In [2]:
title_akas.head()

,titleId,ordering,title,region,language,isOriginalTitle
0,tt0000001,1,Carmencita - spanyol tánc,HU,NaN,0
1,tt0000001,2,Карменсита,RU,NaN,0
2,tt0000001,3,Carmencita,US,NaN,0
3,tt0000001,4,Carmencita,NaN,NaN,1
4,tt0000002,1,Le clown et ses chiens,NaN,NaN,1

In [3]:
title_basics.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,1892,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,1892,NaN,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,1893,1,"Comedy,Short"

In [4]:
# Subset titles databases to contain 'region': US or NAN and startYear after 1900 or null
#title_akas1=title_akas[(title_akas.region=='US')| (title_akas.region.isnull())]
#title_basics1=title_basics[(title_basics.titleType=='movie') & ((title_basics.startYear>'1900')| (title_basics.startYear.isnull()))]

In [5]:
# Find number of nan entries
title_akas['region'].isna().sum()

392049

In [6]:
# Show info with non-null counts
title_basics.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5377057 entries, 0 to 5377056
Data columns (total 7 columns):
tconst            5377057 non-null object
titleType         5377057 non-null object
primaryTitle      5377051 non-null object
originalTitle     5376876 non-null object
startYear         5078099 non-null object
runtimeMinutes    1642696 non-null object
genres            4938336 non-null object
dtypes: object(7)
memory usage: 287.2+ MB

In [7]:
title_akas.isnull().sum()

titleId                  0
ordering                 0
title                    0
region              392049
language           3185660
isOriginalTitle       2118
dtype: int64

In [8]:
# Merge 2 titles tables
merged=pd.merge(title_akas,title_basics, left_on='titleId', right_on='tconst',how='outer')

In [9]:
merged.head()

,titleId,ordering,title,region,language,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
0,tt0000001,1.0,Carmencita - spanyol tánc,HU,NaN,0,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
1,tt0000001,2.0,Карменсита,RU,NaN,0,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
2,tt0000001,3.0,Carmencita,US,NaN,0,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
3,tt0000001,4.0,Carmencita,NaN,NaN,1,tt0000001,short,Carmencita,Carmencita,1894,1,"Documentary,Short"
4,tt0000002,1.0,Le clown et ses chiens,NaN,NaN,1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,5,"Animation,Short"

In [10]:
#Filter merged dataset to contain only US titles released after 1900 (including nan values)
title=merged[((merged.region=='US')| (merged.region.isnull())) & (merged.titleType=='movie') & ((merged.startYear>'1900')| (merged.startYear.isnull()))]

In [11]:
title.head()

,titleId,ordering,title,region,language,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
1685,tt0000574,2.0,The Story of the Kelly Gang,NaN,NaN,1,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,70,"Biography,Crime,Drama"
1842,tt0000630,2.0,Amleto,NaN,NaN,1,tt0000630,movie,Hamlet,Amleto,1908,NaN,Drama
1844,tt0000630,4.0,Hamlet,US,NaN,0,tt0000630,movie,Hamlet,Amleto,1908,NaN,Drama
1954,tt0000679,1.0,The Fairylogue and Radio-Plays,US,NaN,0,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
2176,tt0000793,3.0,Andreas Hofer,NaN,NaN,1,tt0000793,movie,Andreas Hofer,Andreas Hofer,1909,NaN,Drama

In [12]:
title.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458899 entries, 1685 to 6793462
Data columns (total 13 columns):
titleId            385089 non-null object
ordering           385089 non-null float64
title              385089 non-null object
region             177010 non-null object
language           729 non-null object
isOriginalTitle    385063 non-null object
tconst             458899 non-null object
titleType          458899 non-null object
primaryTitle       458899 non-null object
originalTitle      458855 non-null object
startYear          414906 non-null object
runtimeMinutes     332275 non-null object
genres             419129 non-null object
dtypes: float64(1), object(12)
memory usage: 49.0+ MB

In [13]:
title[title['titleId'].isna()]

,titleId,ordering,title,region,language,isOriginalTitle,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres
3430817,NaN,NaN,NaN,NaN,NaN,NaN,tt0002928,movie,Hasard,Hasard,1913,NaN,NaN
3430818,NaN,NaN,NaN,NaN,NaN,NaN,tt0007354,movie,Sisters of Eve,Sisters of Eve,1916,NaN,NaN
3430819,NaN,NaN,NaN,NaN,NaN,NaN,tt0010174,movie,The Girl on the Boat,The Girl on the Boat,1919,NaN,NaN
3430820,NaN,NaN,NaN,NaN,NaN,NaN,tt0010550,movie,Parisian Fashion Frolic,Parisian Fashion Frolic,1919,NaN,Documentary
3430821,NaN,NaN,NaN,NaN,NaN,NaN,tt0011248,movie,The Greater Courage,The Greater Courage,1920,NaN,NaN
3430822,NaN,NaN,NaN,NaN,NaN,NaN,tt0019564,movie,What Holds Men?,What Holds Men?,1928,NaN,NaN
3430823,NaN,NaN,NaN,NaN,NaN,NaN,tt0025627,movie,Parede,Parede,1936,NaN,Documentary
3430828,NaN,NaN,NaN,NaN,NaN,NaN,tt0056116,movie,Jegtancos Film,Jegtancos Film,1962,NaN,"Comedy,Musical"
3430835,NaN,NaN,NaN,NaN,NaN,NaN,tt0061947,movie,Man in Motion,Man in Motion,1967,NaN,NaN
3430836,NaN,NaN,NaN,NaN,NaN,NaN,tt0062148,movie,Prairie Thunder,Prairie Thunder,1967,NaN,NaN
3430839,NaN,NaN,NaN,NaN,NaN,NaN,tt0064634,movie,"Maruhi gekiga, ukiyoe senichiya","Maruhi gekiga, ukiyoe senichiya",1969,NaN,NaN
3430842,NaN,NaN,NaN,NaN,NaN,NaN,tt0065655,movie,Don't Look for Me at Places Where I Can't Be F...,Don't Look for Me at Places Where I Can't Be F...,1970,NaN,NaN
3430843,NaN,NaN,NaN,NaN,NaN,NaN,tt0065886,movie,In Search of Oregon,In Search of Oregon,1970,NaN,NaN
3430844,NaN,NaN,NaN,NaN,NaN,NaN,tt0068794,movie,Kamana,Kamana,1972,NaN,Drama
3430846,NaN,NaN,NaN,NaN,NaN,NaN,tt0072789,movie,Clara and Nora,Clara and Nora,1975,NaN,NaN
3430847,NaN,NaN,NaN,NaN,NaN,NaN,tt0072948,movie,Erotic Fantasies special edition,Erotic Fantasies special edition,1975,NaN,NaN
3430856,NaN,NaN,NaN,NaN,NaN,NaN,tt0085653,movie,Haupango,Haupango,1983,NaN,Documentary
3430885,NaN,NaN,NaN,NaN,NaN,NaN,tt0097092,movie,Comboio da Canhoca,Comboio da Canhoca,1989,90,NaN
3430888,NaN,NaN,NaN,NaN,NaN,NaN,tt0097095,movie,Coming Out,Coming Out,1989,113,"Drama,Romance"
3430889,NaN,NaN,NaN,NaN,NaN,NaN,tt0097096,movie,Coming of Age,Coming of Age,1989,85,Adult
3430891,NaN,NaN,NaN,NaN,NaN,NaN,tt0097098,movie,How to Make Love to a Negro Without Getting Tired,Comment faire l'amour avec un nègre sans se fa...,1989,100,Comedy
3430892,NaN,NaN,NaN,NaN,NaN,NaN,tt0097099,movie,Common Threads: Stories from the Quilt,Common Threads: Stories from the Quilt,1989,79,"Biography,Documentary,History"
3430893,NaN,NaN,NaN,NaN,NaN,NaN,tt0097100,movie,Communion,Communion,1989,107,"Biography,Drama,Horror"
3430894,NaN,NaN,NaN,NaN,NaN,NaN,tt0097101,movie,Love Comedy,Comédie d'amour,1989,89,NaN
3430895,NaN,NaN,NaN,NaN,NaN,NaN,tt0097102,movie,Comédie d'été,Comédie d'été,1989,104,"Drama,Romance"
3430898,NaN,NaN,NaN,NaN,NaN,NaN,tt0097105,movie,Constant Instant Blue,Constant Instant Blue,1989,NaN,NaN
3430899,NaN,NaN,NaN,NaN,NaN,NaN,tt0097106,movie,A Tale of Springtime,Conte de printemps,1990,108,"Comedy,Drama,Romance"
3430900,NaN,NaN,NaN,NaN,NaN,NaN,tt0097107,movie,Continental,Continental,1990,104,"Crime,Thriller"
3430901,NaN,NaN,NaN,NaN,NaN,NaN,tt0097108,movie,"The Cook, the Thief, His Wife & Her Lover","The Cook, the Thief, His Wife & Her Lover",1989,124,"Crime,Drama"
3430902,NaN,NaN,NaN,NaN,NaN,NaN,tt0097109,movie,Cookie,Cookie,1989,94,"Comedy,Crime"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6792016,NaN,NaN,NaN,NaN,NaN,NaN,tt9216758,movie,Moderû no onna kaitei,Moderû no onna kaitei,1933,NaN,Drama
6792076,NaN,NaN,NaN,NaN,NaN,NaN,tt9216882,movie,Misused Trust,Misused Trust,2017,NaN,Fantasy
6792177,NaN,NaN,NaN,NaN,NaN,NaN,tt9217108,movie,M(E),M(E),NaN,NaN,Drama
6792566,NaN,NaN,NaN,NaN,NaN,NaN,tt9217972,movie,Klandestin WT,Klandestin WT,NaN,NaN,Drama
6792616,NaN,NaN,NaN,NaN,NaN,NaN,tt9218082,movie,29 Needles,29 Needles,2019,95,Horror
6792628,NaN,NaN,NaN,NaN,NaN,NaN,tt9218108,movie,The World is Yours - The Awakening - The Secre...,The World is Yours - The Awakening - The Secre...,2019,NaN,Documentary
6792639,NaN,NaN,NaN,NaN,NaN,NaN,tt9218136,movie,The Get,The Get,2019,NaN,Drama
6792643,NaN,NaN,NaN,NaN,NaN,NaN,tt9218144,movie,Robin Hood: The Legend Begins,Robin Hood: The Legend Begins,2018,90,NaN
6792656,NaN,NaN,NaN,NaN,NaN,NaN,tt9218174,movie,Under Four Trees,Under Four Trees,2018,54,Documentary
6792679,NaN,NaN,NaN,NaN,NaN,NaN,tt9218230,movie,Gladiator 2,Gladiator 2,NaN,NaN,NaN
6792683,NaN,NaN,NaN,NaN,NaN,NaN,tt9218240,movie,Ute Bock Superstar,Ute Bock Superstar,2018,103,Documentary
6792727,NaN,NaN,NaN,NaN,NaN,NaN,tt9218336,movie,Married in Macau,Married in Macau,2019,NaN,Romance
6792926,NaN,NaN,NaN,NaN,NaN,NaN,tt9218782,movie,Hollywood Fringe,Hollywood Fringe,2018,NaN,"Comedy,Drama,Musical"
6792992,NaN,NaN,NaN,NaN,NaN,NaN,tt9218926,movie,"Vi, de Frie","Vi, de Frie",2014,62,Drama
6793093,NaN,NaN,NaN,NaN,NaN,NaN,tt9219154,movie,Jinsei yonjû hatte: Uraomote,Jinsei yonjû hatte: Uraomote,1968,77,NaN
6793126,NaN,NaN,NaN,NaN,NaN,NaN,tt9219222,movie,The Mystery of the Reclining Nude,The Mystery of the Reclining Nude,2019,100,Documentary
6793160,NaN,NaN,NaN,NaN,NaN,NaN,tt9219292,movie,Makura tabi,Makura tabi,1969,NaN,NaN
6793170,NaN,NaN,NaN,NaN,NaN,NaN,tt9219312,movie,Un Crimen Llamado Educación,Un Crimen Llamado Educación,2017,NaN,NaN
6793220,NaN,NaN,NaN,NaN,NaN,NaN,tt9219418,movie,Australian Muscle: A Love Story,Australian Muscle: A Love Story,2018,NaN,Documentary
6793234,NaN,NaN,NaN,NaN,NaN,NaN,tt9219448,movie,Catch The King,Catch The King,2018,92,Crime
6793323,NaN,NaN,NaN,NaN,NaN,NaN,tt9219630,movie,2 Days,2 Days,2018,NaN,Drama
6793332,NaN,NaN,NaN,NaN,NaN,NaN,tt9219648,movie,Teriyaan Meriyaan Hera Pheriyan,Teriyaan Meriyaan Hera Pheriyan,2019,NaN,NaN
6793378,NaN,NaN,NaN,NaN,NaN,NaN,tt9219740,movie,Heaven on my mind,Heaven on my mind,2018,92,Drama
6793428,NaN,NaN,NaN,NaN,NaN,NaN,tt9219848,movie,Elon Musk: The Real Life Iron Man,Elon Musk: The Real Life Iron Man,2018,NaN,"Biography,Documentary"
6793437,NaN,NaN,NaN,NaN,NaN,NaN,tt9219868,movie,Hao Wela: The Untold Story of Hot Rodding in H...,Hao Wela: The Untold Story of Hot Rodding in H...,2017,60,Documentary
6793450,NaN,NaN,NaN,NaN,NaN,NaN,tt9219940,movie,Complex,Complex,2017,NaN,NaN
6793456,NaN,NaN,NaN,NaN,NaN,NaN,tt9219962,movie,This Valentine's Day,This Valentine's Day,2014,NaN,NaN
6793458,NaN,NaN,NaN,NaN,NaN,NaN,tt9219968,movie,In Loving Memory of Chakra Paranormal,In Loving Memory of Chakra Paranormal,2018,NaN,NaN
6793461,NaN,NaN,NaN,NaN,NaN,NaN,tt9219978,movie,Sublease,Sublease,2018,NaN,NaN
6793462,NaN,NaN,NaN,NaN,NaN,NaN,tt9219994,movie,Crusty,Crusty,2003,NaN,NaN