In [1]:
# import all relevant packages
import pandas as pd

In [2]:
# Read required files
title_akas=pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz',delimiter='\t',usecols=[0,2,3,4],na_values='\\N',dtype={'isOriginalTitle':str})
title_basics=pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz',delimiter='\t',usecols=[0,1,2,3,5,7,8],na_values='\\N',dtype={'startYear':str, 'runtimeMinutes':str})
title_crew=pd.read_csv('https://datasets.imdbws.com/title.crew.tsv.gz',delimiter='\t',na_values='\\N')
title_principals=pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz',delimiter='\t',usecols=[0,2,3],na_values='\\N')
title_ratings=pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz',delimiter='\t',na_values='\\N')
name_basics=pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz',delimiter='\t',usecols=[0,1,2,3,4],na_values='\\N')

In [3]:
# print the shape of all datasets
print('title_akas',title_akas.shape)
print('title_basics',title_basics.shape)
print('title_crew',title_crew.shape)
print('title_principals',title_principals.shape)
print('title_ratings',title_ratings.shape)
print('name_basics',name_basics.shape)

title_akas (3434060, 4)
title_basics (5396837, 7)
title_crew (5396837, 3)
title_principals (30759794, 3)
title_ratings (883732, 3)
name_basics (8953104, 5)

In [4]:
# Merge 2 titles tables: merged
merged=pd.merge(title_basics,title_akas,left_on='tconst', right_on='titleId',how='left')

In [5]:
# Filter merged dataset to contain only US titles released after 1980: temp_title
temp_title=merged[((merged.region=='US') & (merged.titleType=='movie') & (merged.startYear>'1980') & (merged.startYear<'2017'))].drop_duplicates('titleId').drop('titleId',axis=1)

In [6]:
# Merge title dataset with title_ratings and title_principals dataframe: title1
title=pd.merge(temp_title, title_ratings,on='tconst',how='inner').merge(title_principals,on='tconst',how='inner').merge(name_basics,on='nconst',how='left')

In [9]:
title.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,title,region,language,averageRating,numVotes,nconst,category,primaryName,birthYear,deathYear,primaryProfession
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Kate and Leopold,US,NaN,6.4,72374,nm0107463,editor,David Brenner,NaN,NaN,"editor,editorial_department"
1,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Kate and Leopold,US,NaN,6.4,72374,nm0000212,actress,Meg Ryan,1961.0,NaN,"actress,producer,soundtrack"
2,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Kate and Leopold,US,NaN,6.4,72374,nm0413168,actor,Hugh Jackman,1968.0,NaN,"actor,soundtrack,producer"
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Kate and Leopold,US,NaN,6.4,72374,nm0000630,actor,Liev Schreiber,1967.0,NaN,"actor,producer,miscellaneous"
4,tt0035423,movie,Kate & Leopold,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",Kate and Leopold,US,NaN,6.4,72374,nm0005227,actor,Breckin Meyer,1974.0,NaN,"actor,writer,producer"

In [10]:
title.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404715 entries, 0 to 404714
Data columns (total 18 columns):
tconst               404715 non-null object
titleType            404715 non-null object
primaryTitle         404715 non-null object
originalTitle        404715 non-null object
startYear            404715 non-null object
runtimeMinutes       371526 non-null object
genres               395421 non-null object
title                404715 non-null object
region               404715 non-null object
language             2295 non-null object
averageRating        404715 non-null float64
numVotes             404715 non-null int64
nconst               404715 non-null object
category             404715 non-null object
primaryName          404672 non-null object
birthYear            155636 non-null float64
deathYear            20124 non-null float64
primaryProfession    391396 non-null object
dtypes: float64(3), int64(1), object(14)
memory usage: 58.7+ MB

In [7]:
title.shape

(404715, 18)

In [8]:
title.to_csv('title.csv')